extends wrapper.jade

block content

  table(width='100%', cellpadding='0', cellspacing='0')
    tr
      td.content-block
        p=t('templates.email.greeting',{USERNAME:USERNAME})
        p!=t('templates.comment-reply.body', {TOPIC_TITLE:TOPIC_TITLE})
    tr
      td.content-block
        p!=t('templates.comment-reply.body2', {URL:URL})
    tr
      td.content-block
        p=t('templates.email.signature',{config:config})
